openapi: 3.0.1
info:
  title: API
  description: REST API Documentation
  version: 0.0.1-SNAPSHOT
servers:
- url: https://lsp.won-jung.kim/api/v1
tags:
- name: default
  description: Index
- name: auth
  description: Auth (JWT)
- name: device
  description: Device
- name: log
  description: Device Log
- name: timelapse
  description: Timelapse
paths:
  /:
    get:
      operationId: index-test/index
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                index-test/index:
                  value: |-
                    {
                      "status" : "ok",
                      "message" : "안녕, 세계!"
                    }
  /auth/login:
    post:
      tags:
      - auth
      operationId: auth-test/login
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/log-write486549215'
            examples:
              auth-test/login:
                value: |-
                  {
                    "loginId" : "user",
                    "password" : "pass"
                  }
              auth-test/login-failed:
                value: |-
                  {
                    "loginId" : "user1",
                    "password" : "pass2"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                auth-test/login:
                  value: |-
                    {
                      "status" : "ok",
                      "message" : "Successfully logged in",
                      "data" : {
                        "access" : "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJzb21lLXNlcnZpY2UiLCJsb2dpbl9pZCI6InVzZXIiLCJkZXZpY2VfaWQiOjIsImlhdCI6MTY4NjMzMDAzOCwiZXhwIjoxNjg2MzMzNjM4fQ.obeggpubl_mkBo4rXfTfMQEGuU8MTOuaH_DZYTq6nmi49Zfnzj7yXlkpMz5fU1j3R285SSbpcfFl0xizWweiCA",
                        "refresh" : "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJzb21lLXNlcnZpY2UiLCJsb2dpbl9pZCI6InVzZXIiLCJkZXZpY2VfaWQiOjIsImlhdCI6MTY4NjMzMDAzOCwiZXhwIjoxNjg3MTk0MDM4fQ.9rbfzeLSLIRug3Fw_RV9fx9F2pWnFYeiQvyvWL4eTa3z9roPOg4lUxEbne7LoQDHytf23A07M9oitOtnT5ZGwg"
                      }
                    }
        "401":
          description: "401"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                auth-test/login-failed:
                  value: |-
                    {
                      "status" : "fail",
                      "message" : "Failed to login"
                    }
  /auth/refresh:
    post:
      tags:
      - auth
      operationId: auth-test/refresh
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/log-write486549215'
            examples:
              auth-test/refresh:
                value: |-
                  {
                    "refresh" : "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJzb21lLXNlcnZpY2UiLCJsb2dpbl9pZCI6InVzZXIiLCJkZXZpY2VfaWQiOjIsImlhdCI6MTY4NjMzMDAzOSwiZXhwIjoxNjg3MTk0MDM5fQ.jT5WlEfWp4HpWmGHkdVIqI7cPRDLiz4iG7aILdqHJJ1Lj1BMQagNX7MIpxmFoCgugRZdWc_8Vg_NuOxA6kZ-VA"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                auth-test/refresh:
                  value: |-
                    {
                      "status" : "ok",
                      "message" : "Successfully refreshed token",
                      "data" : {
                        "access" : "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJzb21lLXNlcnZpY2UiLCJsb2dpbl9pZCI6InVzZXIiLCJkZXZpY2VfaWQiOjIsImlhdCI6MTY4NjMzMDAzOSwiZXhwIjoxNjg2MzMzNjM5fQ.ekjoHIeDvovfnQjRbZC7-6thPiGFkZC02LidNZvkRw0xJclnOafRYqk4g6I216VtQljLj5uwDdHXEBee7GobPQ",
                        "refresh" : "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJzb21lLXNlcnZpY2UiLCJsb2dpbl9pZCI6InVzZXIiLCJkZXZpY2VfaWQiOjIsImlhdCI6MTY4NjMzMDAzOSwiZXhwIjoxNjg3MTk0MDM5fQ.jT5WlEfWp4HpWmGHkdVIqI7cPRDLiz4iG7aILdqHJJ1Lj1BMQagNX7MIpxmFoCgugRZdWc_8Vg_NuOxA6kZ-VA"
                      }
                    }
  /auth/signup:
    post:
      tags:
      - auth
      operationId: auth-test/signup
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/log-write486549215'
            examples:
              auth-test/signup:
                value: |-
                  {
                    "loginId" : "user",
                    "password" : "pass"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                auth-test/signup:
                  value: |-
                    {
                      "status" : "ok",
                      "message" : "Successfully signed up",
                      "data" : {
                        "access" : "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJzb21lLXNlcnZpY2UiLCJsb2dpbl9pZCI6InVzZXIiLCJkZXZpY2VfaWQiOjEsImlhdCI6MTY4NjMzMDAzOCwiZXhwIjoxNjg2MzMzNjM4fQ.EpaweYdKzk_N9U0t_HUWA2GQgM9hIC3cznkLLpBs-s8jPoKCd85hWmvZP0GMViRxnlqdWZnLxMINXk3SAtAgPQ",
                        "refresh" : "eyJhbGciOiJIUzUxMiJ9.eyJzdWIiOiJzb21lLXNlcnZpY2UiLCJsb2dpbl9pZCI6InVzZXIiLCJkZXZpY2VfaWQiOjEsImlhdCI6MTY4NjMzMDAzOCwiZXhwIjoxNjg3MTk0MDM4fQ.0jKEZocWSjaeTxXC2Qqq9V2NENJLl4UBYCa8YaBHXRwsVUAQvLCKLAMPKaNUsFWZZZxkGKygKvBj8jQoUW6VYg"
                      }
                    }
  /auth/verify:
    get:
      tags:
      - auth
      operationId: auth-test/verify
      responses:
        "401":
          description: "401"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                auth-test/verify-invalid:
                  value: |-
                    {
                      "status" : "fail",
                      "message" : "Unauthorized"
                    }
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                auth-test/verify:
                  value: |-
                    {
                      "status" : "ok"
                    }
      security:
      - bearerAuthJWT: []
  /device/get:
    get:
      tags:
      - device
      operationId: device-test/get-authenticated-device
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                device-test/get-authenticated-device:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "id" : 1,
                        "dateCreated" : "2023-06-09T17:00:40.000Z",
                        "lastEdited" : "2023-06-09T17:00:40.000Z"
                      }
                    }
      security:
      - bearerAuthJWT: []
  /device/get/-1:
    get:
      tags:
      - device
      operationId: device-test/get-invalid-device
      responses:
        "404":
          description: "404"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                device-test/get-invalid-device:
                  value: |-
                    {
                      "status" : "error",
                      "message" : "No device found"
                    }
      security:
      - bearerAuthJWT: []
  /device/get/{deviceId}:
    get:
      tags:
      - device
      operationId: device-test/get-device1
      parameters:
      - name: deviceId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                device-test/get-device1:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "id" : 1,
                        "dateCreated" : "2023-06-09T17:00:40.000Z",
                        "lastEdited" : "2023-06-09T17:00:40.000Z"
                      }
                    }
      security:
      - bearerAuthJWT: []
  /log/detected-per-day:
    get:
      tags:
      - log
      operationId: log-with-auth-test/get-detected-per-day-logs
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                log-with-auth-test/get-detected-per-day-logs:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : [ {
                        "deviceId" : 1,
                        "humidity" : 30.0,
                        "temperature" : 20.09,
                        "imageUrl" : "/static/image/2.jpg",
                        "detection" : {
                          "status" : "DONE",
                          "result" : "2"
                        },
                        "timestamp" : "2023-06-08T17:00:42.000Z"
                      }, {
                        "deviceId" : 1,
                        "humidity" : 30.0,
                        "temperature" : 20.09,
                        "imageUrl" : "/static/image/1.jpg",
                        "detection" : {
                          "status" : "DONE",
                          "result" : "0"
                        },
                        "timestamp" : "2023-06-07T17:00:42.000Z"
                      } ]
                    }
      security:
      - bearerAuthJWT: []
  /log/latest:
    get:
      tags:
      - log
      operationId: log-with-auth-test/get-latest-log
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                log-with-auth-test/get-latest-log:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "deviceId" : 1,
                        "humidity" : 35.55,
                        "temperature" : 21.01,
                        "imageUrl" : "/static/image/3.jpg",
                        "detection" : {
                          "status" : "IN_PROGRESS"
                        },
                        "timestamp" : "2023-06-09T17:00:42.000Z"
                      }
                    }
      security:
      - bearerAuthJWT: []
  /log/latest-detected:
    get:
      tags:
      - log
      operationId: log-with-auth-test/get-latest-detected-log
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                log-with-auth-test/get-latest-detected-log:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "deviceId" : 1,
                        "humidity" : 30.0,
                        "temperature" : 20.09,
                        "imageUrl" : "/static/image/2.jpg",
                        "detection" : {
                          "status" : "DONE",
                          "result" : "2"
                        },
                        "timestamp" : "2023-06-08T17:00:42.000Z"
                      }
                    }
      security:
      - bearerAuthJWT: []
  /log/recent:
    get:
      tags:
      - log
      operationId: log-with-auth-test/get-recent-logs
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                log-with-auth-test/get-recent-logs:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : [ {
                        "deviceId" : 1,
                        "humidity" : 35.55,
                        "temperature" : 21.01,
                        "imageUrl" : "/static/image/3.jpg",
                        "detection" : {
                          "status" : "IN_PROGRESS"
                        },
                        "timestamp" : "2023-06-09T17:00:42.000Z"
                      }, {
                        "deviceId" : 1,
                        "humidity" : 30.0,
                        "temperature" : 20.09,
                        "imageUrl" : "/static/image/2.jpg",
                        "detection" : {
                          "status" : "DONE",
                          "result" : "2"
                        },
                        "timestamp" : "2023-06-08T17:00:42.000Z"
                      }, {
                        "deviceId" : 1,
                        "humidity" : 30.0,
                        "temperature" : 20.09,
                        "imageUrl" : "/static/image/1.jpg",
                        "detection" : {
                          "status" : "DONE",
                          "result" : "0"
                        },
                        "timestamp" : "2023-06-07T17:00:42.000Z"
                      } ]
                    }
      security:
      - bearerAuthJWT: []
  /log/write:
    post:
      tags:
      - log
      operationId: log-with-auth-test/post-write-log
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/log-write486549215'
            examples:
              log-with-auth-test/post-write-log:
                value: |-
                  {
                    "deviceId" : 1,
                    "temperature" : 12.34,
                    "relativeHumidity" : 19.87,
                    "imageBase64" : "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcGBwcICQsJCAgKCAcHCg0KCgsMDAwMBwkODw0MDgsMDAz/2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAABAAEDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9/KKKKAP/2Q=="
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                log-with-auth-test/post-write-log:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "deviceId" : 1,
                        "humidity" : 19.87,
                        "temperature" : 12.34,
                        "imageUrl" : null,
                        "detection" : {
                          "status" : "NOT_STARTED"
                        },
                        "timestamp" : "2023-06-09T17:00:45.000Z"
                      }
                    }
      security:
      - bearerAuthJWT: []
  /log/{deviceId}/detected-per-day:
    get:
      tags:
      - log
      operationId: log-with-device-id-test/get-detected-per-day-logs
      parameters:
      - name: deviceId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                log-with-device-id-test/get-detected-per-day-logs:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : [ {
                        "deviceId" : 1,
                        "humidity" : 30.0,
                        "temperature" : 20.09,
                        "imageUrl" : "/static/image/2.jpg",
                        "detection" : {
                          "status" : "DONE",
                          "result" : "2"
                        },
                        "timestamp" : "2023-06-08T17:00:46.000Z"
                      }, {
                        "deviceId" : 1,
                        "humidity" : 30.0,
                        "temperature" : 20.09,
                        "imageUrl" : "/static/image/1.jpg",
                        "detection" : {
                          "status" : "DONE",
                          "result" : "0"
                        },
                        "timestamp" : "2023-06-07T17:00:46.000Z"
                      } ]
                    }
      security:
      - bearerAuthJWT: []
  /log/{deviceId}/latest:
    get:
      tags:
      - log
      operationId: log-with-device-id-test/get-latest-log
      parameters:
      - name: deviceId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                log-with-device-id-test/get-latest-log:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "deviceId" : 1,
                        "humidity" : 35.55,
                        "temperature" : 21.01,
                        "imageUrl" : "/static/image/3.jpg",
                        "detection" : {
                          "status" : "IN_PROGRESS"
                        },
                        "timestamp" : "2023-06-09T17:00:46.000Z"
                      }
                    }
      security:
      - bearerAuthJWT: []
  /log/{deviceId}/latest-detected:
    get:
      tags:
      - log
      operationId: log-with-device-id-test/get-latest-detected-log
      parameters:
      - name: deviceId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                log-with-device-id-test/get-latest-detected-log:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "deviceId" : 1,
                        "humidity" : 30.0,
                        "temperature" : 20.09,
                        "imageUrl" : "/static/image/2.jpg",
                        "detection" : {
                          "status" : "DONE",
                          "result" : "2"
                        },
                        "timestamp" : "2023-06-08T17:00:46.000Z"
                      }
                    }
      security:
      - bearerAuthJWT: []
  /log/{deviceId}/recent:
    get:
      tags:
      - log
      operationId: log-with-device-id-test/get-recent-logs
      parameters:
      - name: deviceId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                log-with-device-id-test/get-recent-logs:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : [ {
                        "deviceId" : 1,
                        "humidity" : 35.55,
                        "temperature" : 21.01,
                        "imageUrl" : "/static/image/3.jpg",
                        "detection" : {
                          "status" : "IN_PROGRESS"
                        },
                        "timestamp" : "2023-06-09T17:00:46.000Z"
                      }, {
                        "deviceId" : 1,
                        "humidity" : 30.0,
                        "temperature" : 20.09,
                        "imageUrl" : "/static/image/2.jpg",
                        "detection" : {
                          "status" : "DONE",
                          "result" : "2"
                        },
                        "timestamp" : "2023-06-08T17:00:46.000Z"
                      }, {
                        "deviceId" : 1,
                        "humidity" : 30.0,
                        "temperature" : 20.09,
                        "imageUrl" : "/static/image/1.jpg",
                        "detection" : {
                          "status" : "DONE",
                          "result" : "0"
                        },
                        "timestamp" : "2023-06-07T17:00:46.000Z"
                      } ]
                    }
      security:
      - bearerAuthJWT: []
  /log/{deviceId}/write:
    post:
      tags:
      - log
      operationId: log-with-device-id-test/post-write-log
      parameters:
      - name: deviceId
        in: path
        description: ""
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/log-write486549215'
            examples:
              log-with-device-id-test/post-write-log:
                value: |-
                  {
                    "deviceId" : 1,
                    "temperature" : 12.34,
                    "relativeHumidity" : 19.87,
                    "imageBase64" : "data:image/jpeg;base64,/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAIBAQIBAQICAgICAgICAwUDAwMDAwYEBAMFBwYHBwcGBwcICQsJCAgKCAcHCg0KCgsMDAwMBwkODw0MDgsMDAz/2wBDAQICAgMDAwYDAwYMCAcIDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAwMDAz/wAARCAABAAEDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0KxwRVS0fAkM2JyggkKFhcYGRolJicoKSo0NTY3ODk6Q0RFRkdISUpTVFVWV1hZWmNkZWZnaGlqc3R1dnd4eXqDhIWGh4iJipKTlJWWl5iZmqKjpKWmp6ipqrKztLW2t7i5usLDxMXGx8jJytLT1NXW19jZ2uHi4+Tl5ufo6erx8vP09fb3+Pn6/8QAHwEAAwEBAQEBAQEBAQAAAAAAAAECAwQFBgcICQoL/8QAtREAAgECBAQDBAcFBAQAAQJ3AAECAxEEBSExBhJBUQdhcRMiMoEIFEKRobHBCSMzUvAVYnLRChYkNOEl8RcYGRomJygpKjU2Nzg5OkNERUZHSElKU1RVVldYWVpjZGVmZ2hpanN0dXZ3eHl6goOEhYaHiImKkpOUlZaXmJmaoqOkpaanqKmqsrO0tba3uLm6wsPExcbHyMnK0tPU1dbX2Nna4uPk5ebn6Onq8vP09fb3+Pn6/9oADAMBAAIRAxEAPwD9/KKKKAP/2Q=="
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                log-with-device-id-test/post-write-log:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "deviceId" : 1,
                        "humidity" : 19.87,
                        "temperature" : 12.34,
                        "imageUrl" : null,
                        "detection" : {
                          "status" : "NOT_STARTED"
                        },
                        "timestamp" : "2023-06-09T17:00:47.000Z"
                      }
                    }
      security:
      - bearerAuthJWT: []
  /timelapse/all:
    get:
      tags:
      - timelapse
      operationId: timelapse-with-auth-test/get-all
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                timelapse-with-auth-test/get-all:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : [ {
                        "id" : 2,
                        "deviceId" : 1,
                        "status" : "NOT_STARTED",
                        "logStartDate" : "2022-10-11T12:13:14.000Z",
                        "logEndDate" : "2022-11-12T13:14:15.000Z",
                        "lastUpdated" : "2023-06-09T17:00:50.000Z"
                      }, {
                        "id" : 1,
                        "deviceId" : 1,
                        "status" : "DONE",
                        "result" : "result.mp4",
                        "logStartDate" : "2023-05-20T00:00:00.000Z",
                        "logEndDate" : "2023-05-30T00:00:00.000Z",
                        "lastUpdated" : "2023-06-09T16:59:48.000Z"
                      } ]
                    }
      security:
      - bearerAuthJWT: []
  /timelapse/latest:
    get:
      tags:
      - timelapse
      operationId: timelapse-with-auth-test/get-latest
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                timelapse-with-auth-test/get-latest:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "id" : 1,
                        "deviceId" : 1,
                        "status" : "DONE",
                        "result" : "result.mp4",
                        "logStartDate" : "2023-05-20T00:00:00.000Z",
                        "logEndDate" : "2023-05-30T00:00:00.000Z",
                        "lastUpdated" : "2023-06-09T16:59:48.000Z"
                      }
                    }
      security:
      - bearerAuthJWT: []
  /timelapse/request:
    post:
      tags:
      - timelapse
      operationId: timelapse-with-auth-test/post-request
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/log-write486549215'
            examples:
              timelapse-with-auth-test/post-request:
                value: |-
                  {
                    "deviceId" : 1,
                    "startDate" : "2022-10-11T12:13:14.000Z",
                    "endDate" : "2022-11-12T13:14:15.000Z"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                timelapse-with-auth-test/post-request:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "id" : 2,
                        "deviceId" : 1,
                        "status" : "NOT_STARTED",
                        "logStartDate" : "2022-10-11T12:13:14.000Z",
                        "logEndDate" : "2022-11-12T13:14:15.000Z",
                        "lastUpdated" : null
                      }
                    }
      security:
      - bearerAuthJWT: []
  /timelapse/{deviceId}/all:
    get:
      tags:
      - timelapse
      operationId: timelapse-with-device-id-test/get-all
      parameters:
      - name: deviceId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                timelapse-with-device-id-test/get-all:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : [ {
                        "id" : 2,
                        "deviceId" : 1,
                        "status" : "NOT_STARTED",
                        "logStartDate" : "2022-10-11T12:13:14.000Z",
                        "logEndDate" : "2022-11-12T13:14:15.000Z",
                        "lastUpdated" : "2023-06-09T17:00:52.000Z"
                      }, {
                        "id" : 1,
                        "deviceId" : 1,
                        "status" : "DONE",
                        "result" : "result.mp4",
                        "logStartDate" : "2023-05-20T00:00:00.000Z",
                        "logEndDate" : "2023-05-30T00:00:00.000Z",
                        "lastUpdated" : "2023-06-09T16:59:51.000Z"
                      } ]
                    }
      security:
      - bearerAuthJWT: []
  /timelapse/{deviceId}/latest:
    get:
      tags:
      - timelapse
      operationId: timelapse-with-device-id-test/get-latest
      parameters:
      - name: deviceId
        in: path
        description: ""
        required: true
        schema:
          type: string
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                timelapse-with-device-id-test/get-latest:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "id" : 1,
                        "deviceId" : 1,
                        "status" : "DONE",
                        "result" : "result.mp4",
                        "logStartDate" : "2023-05-20T00:00:00.000Z",
                        "logEndDate" : "2023-05-30T00:00:00.000Z",
                        "lastUpdated" : "2023-06-09T16:59:51.000Z"
                      }
                    }
      security:
      - bearerAuthJWT: []
  /timelapse/{deviceId}/request:
    post:
      tags:
      - timelapse
      operationId: timelapse-with-device-id-test/post-request
      parameters:
      - name: deviceId
        in: path
        description: ""
        required: true
        schema:
          type: string
      requestBody:
        content:
          application/json;charset=UTF-8:
            schema:
              $ref: '#/components/schemas/log-write486549215'
            examples:
              timelapse-with-device-id-test/post-request:
                value: |-
                  {
                    "deviceId" : 1,
                    "startDate" : "2022-10-11T12:13:14.000Z",
                    "endDate" : "2022-11-12T13:14:15.000Z"
                  }
      responses:
        "200":
          description: "200"
          content:
            application/json;charset=UTF-8:
              schema:
                $ref: '#/components/schemas/log-write486549215'
              examples:
                timelapse-with-device-id-test/post-request:
                  value: |-
                    {
                      "status" : "ok",
                      "data" : {
                        "id" : 2,
                        "deviceId" : 1,
                        "status" : "NOT_STARTED",
                        "logStartDate" : "2022-10-11T12:13:14.000Z",
                        "logEndDate" : "2022-11-12T13:14:15.000Z",
                        "lastUpdated" : null
                      }
                    }
      security:
      - bearerAuthJWT: []
components:
  schemas:
    log-write486549215:
      type: object
  securitySchemes:
    bearerAuthJWT:
      type: http
      scheme: bearer
      bearerFormat: JWT
