<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.smhrd.projectweb.mapper.DeviceMapper">

    <resultMap id="BaseResultMap" type="com.smhrd.projectweb.entity.sql.Device">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="loginId" column="login_id" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="dateCreated" column="date_created" jdbcType="TIMESTAMP"/>
            <result property="lastEdited" column="last_edited" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,login_id,password,
        date_created,last_edited
    </sql>

    <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List" />
        from device
        where  id = #{id,jdbcType=BIGINT} 
    </select>

    <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
        delete from device
        where  id = #{id,jdbcType=BIGINT} 
    </delete>
    <insert id="insert" keyColumn="id" keyProperty="id" parameterType="com.smhrd.projectweb.entity.sql.Device" useGeneratedKeys="true">
        insert into device
        ( id,login_id,password)
        values (#{id,jdbcType=BIGINT},#{loginId,jdbcType=VARCHAR},#{password,jdbcType=VARCHAR})
    </insert>
    <insert id="insertSelective" keyColumn="id" keyProperty="id" parameterType="com.smhrd.projectweb.entity.sql.Device" useGeneratedKeys="true">
        insert into device
        <trim prefix="(" suffix=")" suffixOverrides=",">
                <if test="id != null">id,</if>
                <if test="loginId != null">login_id,</if>
                <if test="password != null">password,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
                <if test="id != null">#{id,jdbcType=BIGINT},</if>
                <if test="loginId != null">#{loginId,jdbcType=VARCHAR},</if>
                <if test="password != null">#{password,jdbcType=VARCHAR},</if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.smhrd.projectweb.entity.sql.Device">
        update device
        <set>
                <if test="loginId != null">
                    login_id = #{loginId,jdbcType=VARCHAR},
                </if>
                <if test="password != null">
                    password = #{password,jdbcType=VARCHAR},
                </if>
        </set>
        where   id = #{id,jdbcType=BIGINT} 
    </update>
    <update id="updateByPrimaryKey" parameterType="com.smhrd.projectweb.entity.sql.Device">
        update device
        set 
            login_id =  #{loginId,jdbcType=VARCHAR},
            password =  #{password,jdbcType=VARCHAR}
        where   id = #{id,jdbcType=BIGINT} 
    </update>
</mapper>
